@charset "UTF-8";

.content {
	width: 800px;
	background-color: #d7d7d7;
}

.header {
	font-family: Calibri;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
}

.header2 {
	font-family: Calibri;
	font-style: italic;
	text-align: right;
	font-size: 11px;
	margin-right: 10px;
}

.header3 {
	font-family: Calibri;
	text-align: left;
	font-size: 13px;
}

.row-1 {
	width: 800px;
	background-color: #d7d7d7;
}

.element-1-2 {
	float: left;
	width: 299px;
	height: 80px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.el-1 {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid black;
}

.el-2 {
	width: 100%;
	height: 39px;
}

.el-3 {
	float: left;
	width: 298px;
	background-color: #ACC7E0;
	height: 80px;
	border: 1px solid black;
}

.el-4 {
	float: left;
	width: 198px;
	background-color: #ACC7E0;
	height: 80px;
	border: 1px solid black;
	border-left: none;
}

.yellow {
	float: left;
	width: 100%;
	height: 350px;
	background-color: #FFC300;
}

.el-5 {
	float: right;
	width: 150px;
	height: 40px;
	background-color: white;
}

.row-2 {
	float: left;
	width: 800px;
	height: 70px;
	background-color: #EAF1F7;
	border: 1px solid black;
}

.row-3 {
	float: left;
	width: 800px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
	border-top: none;
}

.blue {
	float: left;
	width: 100%;
	height: 100px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-family: Calibri;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
	background-color: #d7d7d7;
}

.white {
	height: 35px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: 40px;
	background-color: #FFFFFF;
}

.white2 {
	height: 35px;
	border-left: 1px solid black;
	background-color: #FFFFFF;
}

.white3 {
	height: 35px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: 40px;
	background-color: #FFFFFF;
}

input[type="text"] {
	width: 100%;
	height: 100%;
	border-style: none;
	text-align: center;
	background-color: transparent;
	position: relative;
	top: 0px;
}